global:
  image:
    # -- Globally override container image registry, e.g. "ghcr.io"
    registry: ""
    # -- Globally override container imagePullSecrets
    pullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  certificates:
    # -- Enable automatic generation of self-signed TLS certificates for the operator and runtime hosts
    generate: true
    # -- Name of the Kubernetes Secrets holding the Private CA certificate ( NATS )
    caSecretName: wasmcloud-ca
    # -- Name of the Kubernetes Secrets holding the TLS server certificates for NATS server (if enabled in this chart)
    natsCertSecretName: wasmcloud-nats-tls
    # -- Name of the Kubernetes Secrets holding the TLS client certificate for the operator
    operatorCertSecretName: wasmcloud-operator-tls
    # -- Name of the Kubernetes Secrets holding the TLS server certificates for control plane
    runtimeCertSecretName: wasmcloud-runtime-tls
    # -- Name of the Kubernetes Secrets holding the TLS server certificates for user data plane
    dataCertSecretName: wasmcloud-data-tls

# -- Values for installing a basic NATS Server with Ephemeral Storage. If you prefer to install NATS separately, set `enabled` to `false`.
nats:
  enabled: true
  image:
    registry: docker.io
    repository: nats
    pull_policy: Always
    tag: "2.11.3-alpine"
  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Name of the service account to use. If not set and create is true, a name is generated using the fullname template. If not set and create is false, "default" is used.
    name: ""
    # -- Annotations to add to the service account
    annotations: {}

operator:
  image:
    registry: ghcr.io
    repository: wasmcloud/runtime-operator
    pull_policy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  service:
    type: ClusterIP
    port: 8443
  # -- This section builds out the service account.
  # See the [Kubernetes documentation](https://kubernetes.io/docs/concepts/security/service-accounts/).
  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Name of the service account to use. If not set and create is true, a name is generated using the fullname template. If not set and create is false, "default" is used.
    name: ""
    # -- Annotations to add to the service account
    annotations: {}
  # -- List of namespaces to watch. If empty, the operator watches all namespaces.
  watchNamespaces: []

gateway:
  enabled: true
  # -- Fallback endpoint when no workloads are available. Example: "http://notfound.svc.cluster.local"
  fallbackEndpoint: ""
  image:
    registry: ghcr.io
    repository: wasmcloud/runtime-gateway
    pull_policy: Always
  service:
    type: ClusterIP
    port: 80
    # -- Only used if service type is NodePort
    nodePort: null
  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Name of the service account to use. If not set and create is true, a name is generated using the fullname template. If not set and create is false, "default" is used.
    name: ""
    # -- Annotations to add to the service account
    annotations: {}

runtime:
  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Name of the service account to use. If not set and create is true, a name is generated using the fullname template. If not set and create is false, "default" is used.
    name: ""
    # -- Annotations to add to the service account
    annotations: {}
  image:
    registry: ghcr.io
    repository: wasmcloud/wash
    pull_policy: Always
    tag: "2.0.0-rc.7"
  hostGroups:
    - name: default
      replicas: 1
      service:
        type: ClusterIP
      webgpu:
        enabled: false
      http:
        enabled: true
        port: 80
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m" # 0.25 CPU cores
        limits:
          memory: "512Mi"
          cpu: "500m" # 0.5 CPU cores
