tests/output
*.wasm
.env

# Keep Wasm files for testing
!tests/fixtures/*.wasm

# Ignore IDE specific files
.vscode

# Ignore Rust target directory
target/

# Ignore build artifacts
wash.exe

# Ignore worktrees
worktrees/

# Trash
.DS_Store

# AI things
.claude
CLAUDE.md

.github/instructions/copilot-instructions.md
